services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: chorly
      POSTGRES_PASSWORD: chorly
      POSTGRES_DB: chorly
    ports:
      - "5432:5432"
    volumes:
      - chorly_pg:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  mailhog:
    image: mailhog/mailhog:v1.0.1
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  chorly_pg:
